@model CloudCompare.Web.Models.HeaderModel
@*<link href="../../../Content/search-textbox.css" rel="stylesheet" type="text/css" />
<link href="../../../Content/Theme_Cupertino/jquery-ui.css" rel="stylesheet" type="text/css" />
*@

<div style="position:relative;width:inherit;">
    <div style="padding-right:16px;right:0px;overflow:hidden;">
        <input type="text" style="position :relative; float:right;"/>
    </div>
    <div style="z-index:1;position:absolute;top:0px;right:0px;">
        <span class="ui-icon ui-icon-search"></span>
    </div>
</div>
