@model CloudCompare.Web.Models.HomePageModel

@*    @{ Html.RenderPartial("Carousel"); }
*@
@using (Html.BeginForm())
{
    

if (ViewBag.JavaScriptEnabled)
{
    <p>JavaScript ENABLED</p>
    Html.RenderPartial("CarouselModel");
    <div style="clear:both;"></div>
    <div style="background-color:#EBEBEB;">
    @{
        @Html.DisplayFor(x => x.SearchInputModel)
        Html.RenderPartial("SearchResults", @Model);
        }
    </div>

    
    
    //Html.RenderPartial("SearchInputSimple", new ViewDataDictionary(@Model));
}
else
{
    <p>JavaScript DISABLED</p>
    Html.RenderPartial("CarouselModel");
    //Html.RenderPartial("SearchInputSimple", new ViewDataDictionary(@Model.SearchInputModel));
    
    
    //Html.RenderPartial("SearchResultsNoScriptIE", @Model);

    
    //@Html.DisplayFor(x => x.SearchInputModel)
    Html.RenderPartial("SearchResultsNoScript", @Model);
}
}
