@model CloudCompare.Web.Models.HomePageModel

    @{ Html.RenderPartial("Carousel"); }

@if (ViewBag.JavaScriptEnabled)
{
    <p>ENABLED!</p>
    //Html.RenderPartial("SearchResults", @Model);
    Html.RenderPartial("SearchInputSimple", new ViewDataDictionary(@Model));
}
else
{
    <p>DISABLED!</p>
    Html.RenderPartial("SearchInputSimple", new ViewDataDictionary(@Model));
    Html.RenderPartial("SearchResultsNoScriptIE", @Model);
}
