@model CloudCompare.Web.Models.HomePageModel

@*    @{ Html.RenderPartial("Carousel"); }
*@
@using (Html.BeginForm())
{
    

if (ViewBag.JavaScriptEnabled)
{
    <p>ENABLED!</p>
    @Html.DisplayFor(x => x.SearchInputModel)
    //Html.RenderPartial("SearchInputSimple", new ViewDataDictionary(@Model));
    Html.RenderPartial("SearchResults", @Model);
}
else
{
    <p>DISABLED!</p>
    //Html.RenderPartial("SearchInputSimple", new ViewDataDictionary(@Model.SearchInputModel));
    @Html.DisplayFor(x => x.SearchInputModel)
    Html.RenderPartial("SearchResultsNoScriptIE", @Model);
}
}
