@model CloudCompare.Web.Models.CloudApplicationRatingModel
@using CloudCompare.Domain.Models
@*home display TEST template
*@



<div class="product-rating">
    <div>
        <div style="float:left;">
            <table>
                <tr>
                    <td class="product-rating-header">
                        <label class="product-rating-label font-13px-white">Product rating</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="font-bold-11px-purple">@Model.CloudApplicationRatingReviewerName.Trim()</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="font-bold-11px-black">@Model.CloudApplicationRatingReviewerTitle</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="font-normal-11px-black">@Model.CloudApplicationRatingReviewerCompany</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="ellipsify">
                            <div class="pre-dots">
                            </div>
                            <div class="dots">
                                &hellip;
                            </div>
                            <label class="font-normal-11px-black">@Model.CloudApplicationRatingText</label>
                            <span class="hidedots1"></span>
                            <div class="hidedots2">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
