@model CloudCompare.Web.Models.CloudApplicationReviewModel
@using CloudCompare.Domain.Models
@*home display TEST template
*@
<div class="product-review">
    <div>
        <div style="float:left;">
            <table>
                <tr>
                    <td class="product-review-header">
                        <label class="product-review-label font-13px-white">Product review</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="font-bold-11px-purple">@Model.CloudApplicationReviewPublisherName.Trim() - @Model.CloudApplicationReviewDate.ToShortDateString()</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="font-bold-11px-black">@Model.CloudApplicationReviewHeadline</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="ellipsify">
                            <div class="pre-dots">
                            </div>
                            <div class="dots">
                                &hellip;
                            </div>
                            <label class="font-normal-11px-black">@Model.CloudApplicationReviewText</label>
                            <span class="hidedots1"></span>
                            <div class="hidedots2">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
