@model CloudCompare.Web.Models.SearchFilterModelOneColumn

@*home display TEST template
*@
@*SPECIFIC TEMPLATE FOR FEATURE
*@
<div>
    <table id="dataTable" style="width:100%;">
        <tr>
            <td style="width:10%">
                @Html.CheckBoxFor(x => x.Selected)
            </td>
            <td style="width:90%">
                @Html.LabelFor(x => x.SearchFilterName, Model.SearchFilterName)
            </td>
            <td style="width:0%">
                @Html.HiddenFor(x => x.SearchFilterName)
            </td>
            <td style="width:0%">
                @Html.HiddenFor(x => x.SearchFilterType)
            </td>
        </tr> 
    </table>
</div>
