#searchinput
{
    border: 0px outset #E6E6E6;
    max-width: 80%;
    position:relative;
    overflow:visible;
    border-radius: 5px 5px 5px 5px;
    height:auto;
    margin-left:190px;
}


#searchinputdata
{
    margin-left: -180px;
    margin-top: -21px;
    /*border: 2px outset #E6E6E6;*/
    width: 75%;
    /*background-color: inherit;*/
    position:relative;
    overflow:visible;
    float:left;
    border-radius: 5px 5px 5px 5px;
    /*padding-right:20px;*/
    z-index:0;
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #1424FF 0%, #5BBEEF 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #1424FF 0%, #5BBEEF 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(top, #1424FF 0%, #5BBEEF 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1424FF), color-stop(1, #5BBEEF));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #1424FF 0%, #5BBEEF 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #1424FF 0%, #5BBEEF 100%);
    /* IE6 & IE7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1424FF', endColorstr='#5BBEEF');   
    /* IE8+ */ 
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1424FF', endColorstr='#5BBEEF')";      
}


.large-white-text
{
    font-size: 20px;
    color: #FFFFFF;
    padding-left: 20px;
}

.spacing
{
    min-width: 20px;
    display: block;
    float: none;
}

#criteria
{
    clear:both;
    margin-right: 20px;
}

#xcriteria, #xgo
{
    width: 500px;
    position: relative;
    display: block;
    float: right;
}



.add-margins
{
    margin-bottom:10px;    
}

.simple-search-first-column
{
    float:left;
    width:220px;
    margin-left:100px;
}

.simple-search-second-column
{
    float:right;
    width:220px;
}

#search-input-text, #search-input-text input[type="text"]
{
    border-color: #051CCC;
    border-radius: 5px 5px 5px 5px;
    background: #051CCC none repeat scroll 0 0;
    border-left-width: 10px;
    font-size: 16px;
    height: 34px;
    padding-left: 0px;
    width: 280px;
    max-width: 230px;
    color: #FFFFFF;
}



/*
select
{
    background: transparent none repeat scroll 0 0;
    font-size: 16px;
    height: 34px;
    padding: 5px;
    width: 268px;
    color: #FFFFFF;
    z-index:1;
}
*/

.styled-select
{
    width: 240px;
    height: 34px;
    overflow: hidden;
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(bottom, #0983E0 0%, #0983A0 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(bottom, #0983E0 0%, #0983A0 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(bottom, #0983E0 0%, #0983A0 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0983E0), color-stop(1, #0983A0));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(bottom, #0983E0 0%, #0983A0 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to top, #0983E0 0%, #0983A0 100%);
    /* IE6 & IE7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0983E0', endColorstr='#0983A0');   
    /* IE8+ */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0983E0', endColorstr='#0983A0')";       
}


.styled-select select
{
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    border: 0px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
}






/*
.styled-select select {
background: transparent;
-webkit-appearance: none;
width: 213px;
padding: 5px;
font-size: 13px;
border:1px solid #69A3D3;
height: 28px;
padding-right:55px
}
.styled-select {
width: 183px;
height: 29px;
overflow: hidden;
background: #3333FF url('../../Images/down_arrow_select.png') no-repeat right;
border-right:1px solid #69A3D3
}
*/


/*
.styled-select select {
padding-right:0px;
vertical-align:top !important;
text-align:left;
line-height:10px;
height:auto;
}
.styled-select {
border-bottom:1px solid #69A3D3
}
*/
