@model CloudCompare.Web.Models.SearchModel
<div class="creature-on-left">
    <div class="creature-left-div">
        <img src="../../../Images/creature.png" />
    </div>
    <div class="creature-right-div-text-bumper">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="creature-right-div-text">
        <label class="font-bold-22px-purple">
            @Model.SearchResultsModel.SearchResults.Count()
        </label>
        <label class="font-bold-13px-purple">results</label>
        <br />
        <label class="font-13px-blue">
            Filter your search a b c results with the options below
        </label>
    </div>
</div>
