<div class="creature-left-text">
    <label>
        Submit your details below and start comparing cloudware now</label>
</div>
<div class="creature-right-div">
    <img src="../../../Images/creature.png" />
</div>
