        <table class="search-header-results-table-inner" style="width: 100%;">
            <tr>
                <td style="width: 100%;">
                    <div class="button-bar">
                        <input class="cloud-compare-button-blue" type="submit" value="< Back To Results" />
                    </div>
                    <div class="button-bar">
                        <input class="cloud-compare-button-blue" type="submit" value="Email page" />
                    </div>
                    <div class="button-bar">
                        <input class="cloud-compare-button-blue" type="submit" value="Print page >" />
                    </div>
                    <div class="button-bar">
                        <input class="cloud-compare-button-red" type="submit" value="Compare again >" />
                    </div>
                </td>
@*                <td style="width: 20%;">
                </td>
                <td style="width: 20%;">
                </td>
                <td style="width: 20%;">
                </td>
                <td style="width: 13%;">
                    Free trial
                </td>
*@            </tr>
        </table>
