@model CloudCompare.Web.Models.HomePageModel

<table>
@{int i = 0;}
@foreach (CloudCompare.Domain.Models.SearchResult sr in @Model.TabbedSearchResults.TopTenCloudware)
{
    if (i % 2 == 0)    { 
        @: <tr> 
        }
        <td>
            @{Html.RenderPartial("SearchResult", sr);}
        </td>
    if (i % 2 == 1)    { 
        @: </tr> 
        }
    i += 1;
}
</table>
