div.overflow {
  /* essential */
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  width: 300px;
  height: 200px;
  white-space: nowrap;
  overflow: hidden;
  
  /* for good looks */
  /* padding: 10px; */
}


/* the wrapper */
.ellipsify
{
    font-size: inherit;
    line-height: 18px;
    height: 72px; /* 4x line height */
    width: 100%;
    overflow: hidden;
    position: relative; /* so we're a positioning parent for the dot hiders */
    /*background: white;*/
    z-index:inherit;
}

/* Used to push down .dots. Can't use absolute positioning, since that
   would stop the floating. Can't use relative positioning, since that
   would cause floating in the wrong (namely: original) place. Can't 
   change height of #dots, since it would have the full width, and
   thus cause early wrapping on all lines. */
.pre-dots
{
    border-style: solid;
    border-width: 0px;
    border-color: inherit;
    float: right;
    height: 54px; /* 3x line height (one less than visible lines) */
    /*background: white;*/
    z-index: inherit;
}

.dots {
    float: right; /* to make the text wrap around the dots */
    clear: right; /* to push us below (not next to) .pre-dots */
    /*background-color: white;*/
}

/* hides the dots if the text has *exactly* 3 lines */
.hidedots1
{
    /*background: #FF00FF;*/
    width: 100%;
    height: 18px; /* line height */
    position: absolute; /* otherwise, because of the width, it'll be wrapped */
}

/* hides the dots if the text has *less than* 3 lines */
.hidedots2 {
    /*background: white; */
    width: 100%;
    height: 72px;       /* 3x line height, to ensure hiding even if empty */
    position: absolute; /* ensures we're above the dots */
}
